#parse("web/templates/layout/layout.vm")
#@mainLayout()
    #set($pagetitle='Login Page')
    <p class="heading">Login Page</p>
    <p>To be able to use the Business Rules Maintenance Tool, you need to authenticate to the application. Please use your personal userid and password.</p>
    <div class="formbox">
    <form method="POST" action="process?action=bsh&scriptname=authenticate">
    <table style="width:30%;margin-left:auto;margin-right:auto;" align="center" border="0" cellpadding="2" cellspacing="4">
        <tr>
            <td>Userid:</td>
            <td><input type="text" id="userid" name="userid" size="20" maxlength="20" value="$!{userid}"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" size="20" maxlength="40"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Login" name="submit"></td>
        </tr>
    </table>
    </form>
    </div>
    #insert_focus_scriptcode("userid")

    #if (${infomessage})
        <p align="center">#insert_message($infomessage)</p>
    #end
#end