#parse("/velocity/layout.vm")
#@mainLayout()

    <p class="heading">${messages.get("PAGE_HEADIND_ABOUT")}</p>
    <p>${messages.get("PAGE_ABOUT_INFO")}</p>
    <br>
    <br>
    <br>
    <p>${messages.get("PAGE_ABOUT_VERSION")} ${version} (${lastupdate})</p>
    <p>${messages.get("PAGE_ABOUT_COPYRIGHT")}</p>
    <br>
#end