#parse("/velocity/layout.vm")
#@mainLayout()

    <p class="heading">${messages.get("PAGE_HEADIND_ABOUT")}</p>
    <p>${messages.get("PAGE_ABOUT_INFO")}</p>qq
    <p>${messages.get("PAGE_ABOUT_DOCUMENTS_FOLDER")} ${documentsfolder}.</p>
    <p>${messages.get("PAGE_ABOUT_LABELS_PDF_OUTPUT_FOLDER")} ${labelspdfoutputfolder}.</p>
    <p>${messages.get("PAGE_ABOUT_ORDERS_PDF_OUTPUT_FOLDER")} ${orderspdfoutputfolder}.</p>
    <br>
    <br>
    <br>
    <p>${messages.get("PAGE_ABOUT_VERSION")} ${version} (${lastupdate})</p>
    <p>${messages.get("PAGE_ABOUT_COPYRIGHT")}</p>
    <br>
#end