#parse("/velocity/macros.vm")
#parse("/velocity/layout.vm")
#@mainLayout()
    <p class="heading">${messages.get("PAGETITLE_PRODUCTORDER_DELETE")}</p>
    <form method="POST" action="/order/delete/${order.id}/">
    <div class="unit">
        <div class="grouptop">
            <p class="small">${messages.get("TYPE_ORDER")}</p>
            <p class="big">$!order.productCreatedDate</a></p>
            <p class="normal">$!order.producer.name</a></p>
            <p class="normal">#if($!{producer.noOrdering}==1)${messages.get("PRODUCER_ORDERING_NOT_POSSIBLE")}#end </p>

        </div>
    </div>
    <div class="bottomtext">
    <p>${messages.get("PRODUCTORDER_DELETE_CONFIRMATION")}</p>
    <p>
        <input type="submit" value="${messages.get("FORM_BUTTON_DELETE")}" name="submit">
        <input type="submit" value="${messages.get("FORM_BUTTON_CANCEL")}" name="submit">
    </p>
    </div>
    </form>
    <br>
    <br>
    <br>
#end

