#parse("/velocity/macros.vm")
#parse("/velocity/layout.vm")
#@mainLayout()
    <p class="heading">${messages.get("PAGETITLE_PRODUCTORDER_DELETE")}</p>
    <form method="POST" action="/order/delete/${order.id}/">
    <div class="unit">
        <div class="grouptop">
            <p class="small">${messages.get("TYPE_ORDER")} - $order.producer.name</p>
            <p class="small">&nbsp;</p>
            <p class="big">$!order.productCreatedDate</p>
            <p class="normal">${messages.get("PRODUCT_ORDER_NUMBER_OF_PRODUCTS")}: $!order.orderItems.size() - ${messages.get("PRODUCT_ORDER_NUMBER_OF_ITEMS")}: $!order.totalProductOrderItemAmount</p>
            <p class="normal">${messages.get("PRODUCT_ORDER_ORDER_DATE")}: $!order.productOrderDate</p>
        </div>
    </div>
    <div class="bottomtext">
    <p>${messages.get("PRODUCTORDER_DELETE_CONFIRMATION")}</p>
    <p>
        <input type="submit" value="${messages.get("FORM_BUTTON_DELETE")}" name="submit">
        <input type="submit" value="${messages.get("FORM_BUTTON_CANCEL")}" name="submit">
    </p>
    </div>
    </form>
    <br>
    <br>
    <br>
#end

