#parse("/velocity/macros.vm")
#parse("/velocity/layout.vm")
#@mainLayout()
    <p class="heading">${messages.get("PAGETITLE_PRODUCT_DELETE")}</p>
    <form method="POST" action="/product/delete/${product.id}/producer/${producer.id}/">
    <div class="unit">
        <div class="grouptop">
            <p class="small">${messages.get("TYPE_PRODUCT")} #$!product.number - $!product.producer.name </p>
            <p class="big">$!product.name</p>
            <p class="normal">$!product.description </p>
            <p class="normal">${messages.get("PRODUCT_FORM_FIELD_CONTAINER")}: $!{product.container.name} - ${messages.get("PRODUCT_FORM_FIELD_ORIGIN")}: $!{product.origin.name}</p>
            <p class="normal">${messages.get("PRODUCT_FORM_FIELD_QUANTITY")}: $!{product.quantity} - ${messages.get("PRODUCT_FORM_FIELD_WEIGHT")}: $!{product.weight} kg</p>
            <p class="normal">${messages.get("PRODUCT_FORM_FIELD_PRICE")}: € $!{product.price}</p>

        </div>
    </div>
    <div class="bottomtext">
    <p>${messages.get("PRODUCT_DELETE_CONFIRMATION")}</p>
    <p>
        <input type="submit" value="${messages.get("FORM_BUTTON_DELETE")}" name="submit">
        <input type="submit" value="${messages.get("FORM_BUTTON_CANCEL")}" name="submit">
    </p>
    </div>
    </form>
    <br>
    <br>
    <br>
#end

