#parse("/velocity/macros.vm")
#parse("/velocity/layout.vm")
#@mainLayout()

    <p class="heading">#if($!{form.id}>0)${messages.get("PAGETITLE_PRODUCT_CHANGE")}: $!{form.get($fields.valueOf("NAME"))}#else ${messages.get("PAGETITLE_PRODUCT_ADD")}#end</p>
    <p><img id="helpimg" height="22" width="22" src="/img/help_black.png" title="show help" onclick="switchHelp()"></p>
    <div id="help">
        <p class="helptitle">Selektiertes Produkt ändern</p>
        <p>Ergänze alle Felder</p>
        <p></p>
    </div>

    <div class="formbox">
    #if($!{form.id}>0)
        <form method="POST" action="/product/${form.id}/">
    #else
        <form method="POST" action="/product/0/">
    #end
    <input name="$fields.valueOf("ID")" type="hidden" value="${form.id}">
    <table align="center" width="95%" border="0">
        <tr>
            <td>${messages.get("PRODUCT_FORM_FIELD_NUMBER")}:</td>
            <td>
                <input name="$fields.valueOf("NUMBER")" type="text" size="40" maxlength="80" value="$!{form.get($fields.valueOf("NUMBER"))}">
            </td>
        </tr>
        <tr>
            <td>${messages.get("PRODUCT_FORM_FIELD_NAME")}:</td>
            <td>
                <input name="$fields.valueOf("NAME")" type="text" size="40" maxlength="80" value="$!{form.get($fields.valueOf("NAME"))}">
            </td>

        </tr>
        <tr>
            <td>${messages.get("PRODUCT_FORM_FIELD_DESCRIPTION")}:</td>
            <td>
                <input name="$fields.valueOf("DESCRIPTION")" type="text" size="40" maxlength="255" value="$!{form.get($fields.valueOf("DESCRIPTION"))}">
            </td>
        </tr>
        <tr>
            <td>${messages.get("PRODUCT_FORM_FIELD_QUANTITY")}:</td>
            <td>
                <input name="$fields.valueOf("QUANTITY")" type="text" size="40" maxlength="255" value="$!{form.get($fields.valueOf("QUANTITY"))}">
            </td>
        </tr>
        <tr>
            <td>${messages.get("PRODUCT_FORM_FIELD_WEIGHT")}:</td>
            <td>
                <input name="$fields.valueOf("WEIGHT")" type="text" size="40" maxlength="255" value="$!{form.get($fields.valueOf("WEIGHT"))}">
            </td>
        </tr>
        <tr>
            <td>${messages.get("PRODUCT_FORM_FIELD_PRICE")}:</td>
            <td>
                <input name="$fields.valueOf("PRICE")" type="text" size="40" maxlength="255" value="$!{form.get($fields.valueOf("PRICE"))}">
            </td>
        </tr>
        <tr>
			<td>${messages.get("PRODUCT_FORM_FIELD_PRODUCER")}:</td>
			<td>
				<select id="producer_id" name="$fields.valueOf("PRODUCER_ID")" size="1">
				#foreach($producer in $producers)
					#if($!{form.get($fields.valueOf("PRODUCER_ID"))}==${producer.id})
						<option selected value="${producer.id}">${producer.name}</option>
					#else
						<option value="${producer.id}">${producer.name}</option>
					#end
				#end
	    		</select>
			</td>
		</tr>
        <tr>
			<td>${messages.get("PRODUCT_FORM_FIELD_CONTAINER")}:</td>
			<td>
				<select id="container_id" name="$fields.valueOf("CONTAINER_ID")" size="1">
				#foreach($container in $containers)
					#if($!{form.get($fields.valueOf("CONTAINER_ID"))}==${container.id})
						<option selected value="${container.id}">${container.name}</option>
					#else
						<option value="${container.id}">${container.name}</option>
					#end
				#end
	    		</select>
			</td>
		</tr>
        <tr>
			<td>${messages.get("PRODUCT_FORM_FIELD_ORIGIN")}:</td>
			<td>
				<select id="origin_id" name="$fields.valueOf("ORIGIN_ID")" size="1">
				#foreach($origin in $origins)
					#if($!{form.get($fields.valueOf("ORIGIN_ID"))}==${origin.id})
						<option selected value="${origin.id}">${origin.name}</option>
					#else
						<option value="${origin.id}">${origin.name}</option>
					#end
				#end
	    		</select>
			</td>
		</tr>

        <tr>
            <td colspan="2" align="center"><br />
                <input type="submit" value="${messages.get("FORM_BUTTON_OK")}" name="submit">
                <input type="submit" value="${messages.get("FORM_BUTTON_CANCEL")}" name="submit">
            </td>
        </tr>
    </table>
    </form>
    </div>
    #if (${result})
       <p align="center">#insert_message($result)</p>
    #end
#end

