#parse("/velocity/macros.vm")
#parse("/velocity/layout.vm")
#@mainLayout()

    <p class="heading">#if($!{form.id}>0)${messages.get("PAGETITLE_USER_CHANGE")}: $!{form.get($fields.valueOf("NAME"))}#else ${messages.get("PAGETITLE_USER_ADD")}#end</p>
    <p><img id="helpimg" height="40px" width="40px" src="/img/help_black.png" title="show help" onclick="switchHelp()"></p>
    <div id="help">
        <p class="helptitle">#if($!{form.id}>0)${messages.get("PAGETITLE_USER_CHANGE")}: $!{form.get($fields.valueOf("NAME"))}#else ${messages.get("PAGETITLE_USER_ADD")}#end</p>
        <p>${messages.get("HELP1_EDIT_USER")}</p>
        <p></p>
    </div>

    <div class="formbox">
    #if($!{form.id}>0)
        <form method="POST" action="/user/${form.id}/">
    #else
        <form method="POST" action="/user/0/">
    #end
    <input name="$fields.valueOf("ID")" type="hidden" value="${form.id}">
    <table align="center" width="95%" border="0">
        <tr>
            <td>${messages.get("FORM_FIELD_NAME")}:</td>
            <td>
                <input name="$fields.valueOf("NAME")" type="text" size="40" maxlength="80" value="$!{form.get($fields.valueOf("NAME"))}">
            </td>

        </tr>
        <tr>
            <td>${messages.get("FORM_FIELD_FULL_NAME")}:</td>
            <td>
                <input name="$fields.valueOf("FULL_NAME")" type="text" size="40" maxlength="80" value="$!{form.get($fields.valueOf("FULL_NAME"))}">
            </td>

        </tr>
        #if($!{form.id}==0)
            <tr>
                <td>${messages.get("FORM_FIELD_PASSWORD")}:</td>
                <td>
                    <input name="$fields.valueOf("PASSWORD")" type="password" size="40" maxlength="80" value="">
                </td>
            </tr>
        #end
        <tr>
            <td>${messages.get("FORM_FIELD_USER_ROLE")}:</td>
            <td>
                <select name="$fields.valueOf("USER_ROLE")" size="1">
                #if($!{form.get($fields.valueOf("USER_ROLE"))}=="read")
                    <option selected value="read">${messages.get("USER_ROLE_READ")}</option>
                    <option value="readwrite">${messages.get("USER_ROLE_READWRITE")}</option>
                    <option value="admin">${messages.get("USER_ROLE_ADMIN")}</option>
                #elseif($!{form.get($fields.valueOf("USER_ROLE"))}=="readwrite")
                    <option value="read">${messages.get("USER_ROLE_READ")}</option>
                    <option selected value="readwrite">${messages.get("USER_ROLE_READWRITE")}</option>
                    <option value="admin">${messages.get("USER_ROLE_ADMIN")}</option>
                #else if($!{form.get($fields.valueOf("USER_ROLE"))}=="admin")
                    <option value="read">${messages.get("USER_ROLE_READ")}</option>
                    <option value="readwrite">${messages.get("USER_ROLE_READWRITE")}</option>
                    <option selected value="admin">${messages.get("USER_ROLE_ADMIN")}</option>
                #end
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center"><br />
                <input type="submit" value="${messages.get("FORM_BUTTON_OK")}" name="submit">
                <input type="submit" value="${messages.get("FORM_BUTTON_CANCEL")}" name="submit">
            </td>
        </tr>
    </table>
    </form>
    </div>
    #if (${result})
       <p align="center">#insert_message($result)</p>
    #end
#end

