#parse("/velocity/layout.vm")
#@mainLayout()

    <p class="heading">${messages.get("PAGE_HEADIND_INDEX")}</p>
    #if($user)
        <p class="big">Willkommen zurück, ${user.name}</p>
    #end
    <p>In der Artikelverwaltung sind alle selbst hergestellten, sowie eingekauften Produkte abrufbar. Die Applikation bietet vielfältige Funktionen, um den Bestand zu verwalten, Bestellungen zu tätigen und statistische Daten abzurufen.</p>
    <br>
#end