#parse("/velocity/layout.vm")
#@mainLayout()

    <p class="heading">${messages.get("PAGE_HEADIND_INDEX")}</p>
    #if($user)
        <p class="big">${messages.get("PAGE_INDEX_WELCOME_BACK")} ${user.name}</p>
    #end
    <p>${messages.get("PAGE_INDEX_INFO")}</p>
    <br>
#end