#macro(mainLayout)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Artikelverwaltung | $!{pagetitle}</title>
<link rel="stylesheet" type="text/css" href="/css/style_new.css">
<link rel="stylesheet" href="/css/jquery-ui.min.css">
<link rel="stylesheet" href="/css/jquery-ui.theme.min.css">
<script type="text/javascript" src="/jquery/jquery-2.1.3.js"></script>
<script src="/jquery/jquery-ui.js"></script>
<script src="/jquery/jstorage.js"></script>
<script src="/jquery/jquery.bpopup.min.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<script type='text/javascript'>
$(document).ready(function() {
  $('#search').on('input',function()
  {
	  if(this.value)
	  {
        $(".unit").not("[tag*='" + this.value.toLowerCase() + "']").hide();
        $(".unit[tag*='" + this.value.toLowerCase() + "']").show();
        $.jStorage.set("searchtext" + $('#search').attr("searchtype") , this.value)
	  }
	  else
	  {
	  	$(".unit").show();
	  	$.jStorage.deleteKey("searchtext" + $('#search').attr("searchtype"));
	  }
  });

  $(function() {

	    $('#popup').on('click', function(e) {
			var id=$("#check option:selected").val() || $("#action option:selected").val();
			var baseurl="process?action=bsh&ro=1&scriptname=";
			var suffix="&id=";
			var url= $("#popupurl").text();
	        // Prevents the default action to be triggered.
	        e.preventDefault();

	        if(id!=0)
	        {
	        // Triggering bPopup when click event is fired
	        $('#element_to_pop_up').bPopup({
	        		loadUrl: baseurl + url + suffix + id,
	        		transitionClose: true,
	        		transition: 'fadeln',
	        		speed: 700
	        })
	        }
	    });

	    $('#popup2').on('click', function(e) {
			var baseurl="process?action=bsh&ro=1&scriptname=";
			var url= $("#popupurl2").text();
	        // Prevents the default action to be triggered.
	        e.preventDefault();

	        // Triggering bPopup when click event is fired
	        $('#element_to_pop_up2').bPopup({
	        		loadUrl: baseurl + url,
	        		transitionClose: true,
	        		transition: 'fadeln',
	        		speed: 700
	        })
	    });

	    $('#testdata').on('click', function(e) {
			window.alert('gaga');
	    });
  });

  $( "#helpimg" ).click(function() {
		$("#help").toggle();
  });

  $( "#checkall" ).click(function() {
  		$(".productcheckBox").prop("checked", true);
  });

  $( "#uncheckall" ).click(function() {
        $(".productcheckBox").prop("checked", false);
  });

	var value = $.jStorage.get("searchtext"+ $('#search').attr("searchtype"));
	if(value)
	{
  		$('#search').val(value);
  		$("#search").trigger("input");
  	}
});

</script>
<script>
	$(function() {
		$( "#datepicker" ).datepicker({
				dateFormat: "dd.mm.yy",
				changeMonth: true,
				changeYear: true,
				firstDay: 1
		});
	});
</script>
</head>
<body>
    <div>
        <div class="top">
                <table width="100%">
                <tr>
                    <td width="88%">#parse("/velocity/logo.vm")</td>
                    <td>
                        #if($tokenpayload)
                            <img width="40" height="40" src="/img/dummy_user.png" title="$!{tokenpayload.name}" alt="$!{tokenpayload.name}">
                        #end
                    </td>
                </tr>
            </table>

        </div>
        <div>
            #parse("/velocity/menu.vm")
            <div class="data">
                $bodyContent
            </div>
        </div>
    </div>
</body>
</html>
#end