#parse("/velocity/macros.vm")
#parse("/velocity/layout.vm")
#@mainLayout()
    <p class="heading">Login Page</p>
    <p>${messages.get("PAGE_HEADIND_LOGIN")}</p>
    <div class="formbox">
    <form method="POST" action="/login/">
    <table style="width:30%;margin-left:auto;margin-right:auto;" align="center" border="0" cellpadding="2" cellspacing="4">
        <tr>
            <td>Name:</td>
            <td><input type="text" id="userid" name="userid" size="20" maxlength="20" value=""></td>
        </tr>
        <tr>
            <td>Passwort:</td>
            <td><input type="password" name="password" size="20" maxlength="40"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Login" name="submit"></td>
        </tr>
    </table>
    </form>
    </div>
    #if (${result})
       <p align="center">#insert_message($result)</p>
    #end
#end