## focus on a form field on the page
#macro(insert_focus_scriptcode $fieldid)
<script type="text/Javascript" language="JavaScript">
<!--
	document.getElementById("$fieldid").focus();
//-->
</script>
#end

## display a message
#macro(insert_message $result)
	#if($result.resultType==1)
		<img height="22" width="22" src="/img/attention.png">&nbsp;<font color="red">$result.message</font>
	#else
		<img height="22" width="22" src="/img/info.png">&nbsp;$result.message
	#end
#end

#macro(insert_readwrite_image $href $imgclass $imgsrc $title $tokenpayload)
    #if(${tokenpayload.get("role")}=="admin" || ${tokenpayload.get("role")}=="readwrite")
        <a href="$href"><img class="$imgclass" height="22px" width="22px" src="$imgsrc" title="$title"></a>
    #end
#end

