#parse("/velocity/macros.vm")
#parse("/velocity/layout.vm")
#@mainLayout()
    <p class="heading">${messages.get("PAGETITLE_MARKET_LIST")} ($markets.size())</p>
    <p>
        <img id="helpimg" height="40px" width="40px" src="/img/help_black.png" title="${messages.get("IMAGE_HELP")}" onclick="switchHelp()">
        <a href="/market/0/"><img class="add_external" height="40px" width="40px" src="/img/market_add.png" title="${messages.get("IMAGE_MARKET_ADD")}"></a>
    </p>
    <div id="help">
        <p class="helptitle">${messages.get("PAGETITLE_MARKET_LIST")}</p>
        <p>${messages.get("HELP1_MARKET_LIST")}</p>
        <p>${messages.get("HELP2_MARKET_LIST")}</p>
        <p><img height="22" width="22" src="/img/market_add.png">&nbsp;${messages.get("IMAGE_MARKET_ADD")}&nbsp;<img height="22" width="22" src="/img/edit.png">&nbsp;${messages.get("IMAGE_MARKET_EDIT")}&nbsp;<img height="22" width="22" src="/img/remove.png">&nbsp;${messages.get("IMAGE_MARKET_DELETE")}</p>
    </div>
    <div id="filter">
        <p>${messages.get("FILTER_TEXTBOX")}: <input id="search" searchtype="markets" type="text""></p>
    </div>
    #foreach($market in $markets)
        <div class="unit" tag="$!market.name.toLowerCase()">
            #insert_readwrite_image("/market/delete/${market.id}/" "delete" "/img/remove.png" "${messages.get('IMAGE_MARKET_DELETE')}" "${tokenpayload.role}")
            #insert_readwrite_image("/market/${market.id}/" "edit" "/img/edit.png" "${messages.get('IMAGE_MARKET_EDIT')}" "${tokenpayload.role}")
            <div class="grouptop">
                <p class="small">${messages.get("TYPE_MARKET")}</p>
                <p class="big">$!market.name</a></p>
                <p class="normal">$!market.type</p>
            </div>
        </div>
    #end
#end