
<div id='cssmenu'>
		<ul>
			<li><a href="/index/">${messages.get("MENU_ENTRY_INDEX")}</a></li>
		</ul>
		#if($user.isAuthenticated())
            <ul>
                <li><a href="/products/producer/5/">${messages.get("MENU_ENTRY_PRODUCTS_MOGK")}</a></li>
                <li><a href="/products/producer/8/">${messages.get("MENU_ENTRY_PRODUCTS_BORGMEIER")}</a></li>
                <li><a href="/products/producer/6/">${messages.get("MENU_ENTRY_PRODUCTS_KLUEVER")}</a></li>
                <li><a href="/orders/">${messages.get("MENU_ENTRY_PURCHASE_ORDER")}</a></li>
            </ul>
            <ul>
                <li><a href="/producers/">${messages.get("MENU_ENTRY_PRODUCERS")}</a></li>
                <li><a href="/markets/">${messages.get("MENU_ENTRY_MARKETS")}</a></li>
                <li><a href="/productcontainers/">${messages.get("MENU_ENTRY_CONTAINERS")}</a></li>
                <li><a href="/productorigins/">${messages.get("MENU_ENTRY_ORIGINS")}</a></li>
            </ul>
		#end
		<ul>
            #if($user)
                <li><a href="/logout/">Abmelden</a></li>
            #else
                <li><a href="/login/">Anmelden</a></li>

            #end
        </ul>
		<ul>
			<li><a href="/about/">${messages.get("MENU_ENTRY_ABOUT")}</a></li>
		</ul>
</div>

