#parse("/velocity/layout.vm")
#@mainLayout()
    <p class="heading">${messages.get("PAGE_HEADING_NOT_FOUND")}</p>
    <div id="title">
    	<p>${messages.get("PAGE_NOT_FOUND_MESSAGE")}</p>
    </div>
#end