#parse("/velocity/layout.vm")
#@mainLayout()
    <p class="heading">${messages.get("PAGETITLE_PRODUCTORDER_ITEMS")} ($productorderitems.size())</p>
    <p>
        <img id="helpimg" height="22" width="22" src="/img/help_black.png" title="${messages.get("IMAGE_HELP")}" onclick="switchHelp()">
        <a href="/orders/"><img class="go_back" height="22" width="22" src="/img/go_back.png" title="${messages.get("IMAGE_ORDER_ITEMS_GO_BACK")}"></a>
    </p>
    <div id="help">
        <p class="helptitle">${messages.get("PAGETITLE_PRODUCTORDER_ITEMS")}</p>
        <p>${messages.get("HELP1_SHOP_LIST")}</p>
        <p>${messages.get("HELP2_SHOP_LIST")}</p>
        <p><img height="22" width="22" src="/img/order.png">&nbsp;${messages.get("IMAGE_COMPLETE_ORDER")}</p>
    </div>
    <div id="filter">
        <p>${messages.get("FILTER_TEXTBOX")}: <input id="search" searchtype="productorderitems" type="text""></p>
    </div>
    #foreach($item in $productorderitems)
        <div class="unit" tag="$!item.product.number.toLowerCase() + $!item.product.name.toLowerCase()">
            <div class="grouptop">
                <p class="small">${messages.get("TYPE_PRODUCT")} #$!item.product.number - $!item.product.producer.name </p>
                <p class="small">$!{item.product.title}&nbsp;</p>
                <p class="big">${item.amount} - $!item.product.name</p>
                <p class="normal">$!{item.product.subtitle}&nbsp;</p>
                <p class="normal">#if($!{item.product.origin.id}!=1) ${messages.get("FORM_FIELD_ORIGIN")}: $!{item.product.origin.name}#end &nbsp;</p>
                <p class="normal">${messages.get("FORM_FIELD_QUANTITY")}: $!{item.product.quantity} - ${messages.get("FORM_FIELD_WEIGHT")}: $numberFormatter.convertToLocale($!{item.product.weight}) kg #if($!{item.product.container.id}!=1)- ${messages.get("FORM_FIELD_CONTAINER")}: $!{item.product.container.name}#end</p>
                <p class="normal">${messages.get("FORM_FIELD_PRICE")}: € $numberFormatter.convertToLocale($!{item.product.price})</p>
            </div>
        </div>
    #end
#end