#parse("/velocity/layout.vm")
#@mainLayout()
    <p class="heading">${messages.get("PAGETITLE_PRODUCTORDERS_LIST")} ($orders.size())</p>
    <p><img id="helpimg" height="40px" width="40px" src="/img/help_black.png" title="${messages.get("IMAGE_HELP")}" onclick="switchHelp()"></p>
    <div id="help">
        <p class="helptitle">${messages.get("PAGETITLE_PRODUCTORDERS_LIST")}</p>
        <p>${messages.get("HELP1_ORDERS_LIST")}</p>
        <p>${messages.get("HELP2_ORDERS_LIST")}</p>
        <p>
            <img height="22" width="22" src="/img/edit.png">&nbsp;${messages.get("IMAGE_ORDER_ITEMS")}
            <img height="22" width="22" src="/img/remove.png">&nbsp;${messages.get("IMAGE_ORDER_DELETE")}&nbsp;
            <img height="22px" width="22px" src="/img/order_document.png">&nbsp;${messages.get("IMAGE_ORDER_DOCUMENT")}
        </p>
    </div>
    <div id="filter">
        <p>${messages.get("FILTER_TEXTBOX")}: <input id="search" searchtype="orders" type="text""></p>
    </div>
    #foreach($order in $orders)
        <div class="unit" tag="$order.producer.name.toLowerCase() + $!order.productCreatedDate.toLowerCase()">
            <a href="/order/delete/${order.id}/"><img class="delete" height="22px" width="22px" src="/img/remove.png" title="${messages.get("IMAGE_ORDER_DELETE")}"></a>
            <a href="/orderitems/${order.id}/"><img class="edit" height="22px" width="22px" src="/img/edit.png" title="${messages.get("IMAGE_ORDER_ITEMS")}"></a>
            <a href="/orderitemspdf/${order.id}/"><img class="pdf" height="22px" width="22px" src="/img/order_document.png" title="${messages.get("IMAGE_ORDER_DOCUMENT")}"></a>
            <div class="grouptop">
                <p class="small">${messages.get("TYPE_ORDER")} - $order.producer.name</p>
                <p class="small">&nbsp;</p>
                <p class="big">$!order.productCreatedDate</p>
                <p class="normal">${messages.get("PRODUCT_ORDER_NUMBER_OF_PRODUCTS")}: $!order.orderItems.size() - ${messages.get("PRODUCT_ORDER_NUMBER_OF_ITEMS")}: $!order.totalProductOrderItemAmount</p>
                <p class="normal">${messages.get("PRODUCT_ORDER_ORDER_DATE")}: $!order.productOrderDate</p>
            </div>
        </div>
    #end
#end

