#parse("/velocity/layout.vm")
#@mainLayout()
    <p class="heading">${messages.get("PAGETITLE_PRODUCT_LIST")} ($products.size())</p>
    <p><img id="helpimg" height="22" width="22" src="/img/help_black.png" title="${messages.get("IMAGE_HELP")}" onclick="switchHelp()">
        <a href="/product/0/"><img class="add_external" height="22px" width="22px" src="/img/product_add.png" title="${messages.get("IMAGE_PRODUCT_ADD")}"></a>
    </p>
    <div id="help">
        <p class="helptitle">${messages.get("PAGETITLE_PRODUCT_LIST")}</p>
        <p>${messages.get("HELP1_PRODUCT_LIST")}</p>
        <p>${messages.get("HELP2_PRODUCT_LIST")}</p>
        <p><img height="22" width="22" src="/img/product_add.png">&nbsp;${messages.get("IMAGE_PRODUCT_ADD")}&nbsp;<img height="22" width="22" src="/img/edit.png">&nbsp;${messages.get("IMAGE_PRODUCT_EDIT")}&nbsp;<img height="22" width="22" src="/img/remove.png">&nbsp;${messages.get("IMAGE_PRODUCT_DELETE")}</p>
    </div>
    <div id="filter">
        <p>Filter: <input id="search" searchtype="groups" type="text""></p>
    </div>
    #foreach($product in $products)
        <div class="unit" tag="$!product.name.toLowerCase()">
            #if($product.id>1)<a href="/product/${product.id}/"><img class="delete" height="22px" width="22px" src="/img/remove.png" title="${messages.get("IMAGE_PRODUCT_DELETE")}"></a>#end
            #if($product.id>1)<a href="/product/${product.id}?test=gaga/"><img class="edit" height="22px" width="22px" src="/img/edit.png" title="${messages.get("IMAGE_PRODUCT_EDIT")}"></a>#end
            <div class="grouptop">
                <p class="small">${messages.get("TYPE_PRODUCT")} #$!product.number </p>
                <p class="big">$!product.name</a></p>
                <p class="normal">$!product.description - $!product.producer.name</p>
                <p class="normal">Container: $!{product.container.name} - Ursprung: $!{product.origin.name}</p>
                <p class="normal">Menge: $!{product.quantity} - Gewicht: $!{product.weight} kg</p>
                <p class="normal">Preis: € $!{product.price}</p>
            </div>
        </div>
    #end
#end