#parse("/velocity/macros.vm")
#parse("/velocity/layout.vm")
#@mainLayout()
    <p class="heading">${messages.get("PAGETITLE_PRODUCTCONTAINER_LIST")} ($containers.size())</p>
    <p><img id="helpimg" height="40px" width="40px" src="/img/help_black.png" title="${messages.get("IMAGE_HELP")}" onclick="switchHelp()"><a href="/productcontainer/0/">
    <img class="add_external" height="40px" width="40px" src="/img/container_add.png" title="${messages.get("IMAGE_PRODUCTCONTAINER_ADD")}"></a></p>
    <div id="help">
        <p class="helptitle">${messages.get("PAGETITLE_PRODUCTCONTAINER_LIST")}</p>
        <p>${messages.get("HELP1_PRODUCTCONTAINER_LIST")}</p>
        <p><img height="22" width="22" src="/img/container_add.png">&nbsp;${messages.get("IMAGE_PRODUCTCONTAINER_ADD")}&nbsp;<img height="22" width="22" src="/img/edit.png">&nbsp;${messages.get("IMAGE_PRODUCTCONTAINER_EDIT")}&nbsp;<img height="22" width="22" src="/img/remove.png">&nbsp;${messages.get("IMAGE_PRODUCTCONTAINER_DELETE")}</p>
    </div>
    <div id="filter">
        <p>${messages.get("FILTER_TEXTBOX")}: <input id="search" searchtype="containers" type="text""></p>
    </div>
    #foreach($container in $containers)
        <div class="unit" tag="$!container.name.toLowerCase()">
            #if($container.id>0)
                #insert_readwrite_image("/productcontainer/delete/${container.id}/" "delete" "/img/remove.png" "${messages.get('IMAGE_PRODUCTCONTAINER_DELETE')}")
            #end
            #if($container.id>0)
                #insert_readwrite_image("/productcontainer/${container.id}/" "edit" "/img/edit.png" "${messages.get('IMAGE_PRODUCTCONTAINER_EDIT')}")
            #end
            <div class="grouptop">
                <p class="small">${messages.get("TYPE_PRODUCTCONTAINER")}</p>
                <p class="big">$!container.name</a></p>
            </div>
        </div>
    #end
#end