#parse("/velocity/macros.vm")
#parse("/velocity/layout.vm")
#@mainLayout()

    <p class="heading">${messages.get("PAGETITLE_PRODUCT_STICKERS_LIST")} (products.size())</p>
    <div class="error">
        #if (${result})
           <p>#insert_message($result)</p>
        #end
    </div>
    <div class="formbox">
        <table align="center" width="50%" border="1">
            #foreach($product in $products)
            <form method="post" action="/products/stickers/">
                <tr>
                    <td>#$!product.number</td>
                    <td>$!product.title $!product.name</td>
                    <td>
                        <input name="id" value="${product.id}" type="hidden">
                        Menge: <input name="quantity" type="text" size="2" maxlength="2">
                        von:
                        <select name="fromdate" size="1">
                            <option value="yesterday">gestern</option>
                            <option selected value="today">heute</option>
                            <option value="tomorrow">morgen</option>
                        </select>
                        haltbar:
                        <select name="todate" size="1">
                            <option value="tomorrow">5 Tage</option>
                            <option selected value="today">4 Tage</option>
                            <option value="yesterday">3 Tage</option>
                        </select>
                    </td>
                    <td>
                        <input type="submit" value="${messages.get("FORM_BUTTON_OK")}" name="submit">
                    </td>
                </tr>
                </form>
            #end
        </table>
    </div>
#end


