#parse("/velocity/layout.vm")
#@mainLayout()
    <p class="heading">Herstellerliste ($producers.size())</p>
    <p><img id="helpimg" height="40px" width="40px" src="/img/help_black.png" title="${messages.get("IMAGE_HELP")}" onclick="switchHelp()"><a href="/producer/0/">
    <img class="add_external" height="40px" width="40px" src="/img/producer_add.png" title="${messages.get("IMAGE_PRODUCER_ADD")}"></a></p>
    <div id="help">
        <p class="helptitle">Produktliste</p>
        <p>${messages.get("HELP1_PRODUCER_LIST")}</p>
        <p><img height="22" width="22" src="/img/producer_add.png">&nbsp;${messages.get("IMAGE_PRODUCER_ADD")}&nbsp;<img height="22" width="22" src="/img/edit.png">&nbsp;${messages.get("IMAGE_PRODUCER_EDIT")}&nbsp;<img height="22" width="22" src="/img/remove.png">&nbsp;${messages.get("IMAGE_PRODUCER_DELETE")}</p>
    </div>
    <div id="filter">
        <p>${messages.get("FILTER_TEXTBOX")}: <input id="search" searchtype="producers" type="text""></p>
    </div>
    #foreach($producer in $producers)
        <div class="unit" tag="$!producer.name.toLowerCase()">
            #if($producer.id>0)<a href="/producer/delete/${producer.id}/"><img class="delete" height="22px" width="22px" src="/img/remove.png" title="${messages.get("IMAGE_PRODUCER_DELETE")}"></a>#end
            #if($producer.id>0)<a href="/producer/${producer.id}/"><img class="edit" height="22px" width="22px" src="/img/edit.png" title="${messages.get("IMAGE_PRODUCER_EDIT")}"></a>#end
            <div class="grouptop">
                <p class="small">${messages.get("TYPE_PRODUCER")}</p>
                <p class="big">$!producer.name</a></p>
                <p class="normal">$!{producer.emailAddress}</p>
                <p class="normal">#if($!{producer.noOrdering}==1)keine Bestellung #end </p>
            </div>
        </div>
    #end
#end