#parse("/velocity/macros.vm")
#parse("/velocity/layout.vm")
#@mainLayout()
    <p class="heading">${messages.get("PAGETITLE_PRODUCT_LIST")} - ${producer.name} ($products.size())</p>
    <p><img id="helpimg" height="40px" width="40px" src="/img/help_black.png" title="${messages.get("IMAGE_HELP")}" onclick="switchHelp()">
        <a href="/product/0/producer/${producer.id}/"><img class="add_external" height="40px" width="40px" src="/img/product_add.png" title="${messages.get("IMAGE_PRODUCT_ADD")}"></a>
        <a href="/products/labels/${producer.id}/"><img class="add_external" height="40px" width="40px" src="/img/labels.png" title="${messages.get("IMAGE_LABELS")}"></a>
	    #set($productamount=0)
        #if($order && ${order.orderItems.size()}>5) #set($productamount=9999) #else #set($productamount=${order.orderItems.size()}) #end
        <a href="/shopproducts/producer/${producer.id}/"><img width="40px" height="40px" src="/img/shopping_cart_${productamount}.png" title="${messages.get("IMAGE_SHOPPING_CART")}"></a>
    </p>
    <div id="help">
        <p class="helptitle">${messages.get("PAGETITLE_PRODUCT_LIST")}</p>
        #if($product.producer.noOrdering==0)
            <p>${messages.get("HELP1_PRODUCT_LIST_NO_ORDERING")}</p>
            <p>${messages.get("HELP2_PRODUCT_LIST_NO_ORDERING")}</p>
        #else
            <p>${messages.get("HELP1_PRODUCT_LIST")}</p>
            <p>${messages.get("HELP2_PRODUCT_LIST")}</p>
        #end
        <p>
            <img height="22" width="22" src="/img/product_add.png">&nbsp;${messages.get("IMAGE_PRODUCT_ADD")}&nbsp;
            <img height="22" width="22" src="/img/remove.png">&nbsp;${messages.get("IMAGE_PRODUCT_DELETE")}&nbsp;
            <img height="22" width="22" src="/img/edit.png">&nbsp;${messages.get("IMAGE_PRODUCT_EDIT")}&nbsp;
            <img height="22" width="22" src="/img/labels.png">&nbsp;${messages.get("IMAGE_LABELS")}
            <img height="22" width="22" src="/img/shopping_cart_0.png">&nbsp;${messages.get("IMAGE_SHOPPING_CART")}
        </p>
    </div>
    <div id="filter">
        <p>${messages.get("FILTER_TEXTBOX")}: <input id="search" searchtype="products_${producer.id}" type="text""></p>
    </div>
    <div class="error">
        #if (${result})
           <p>#insert_message($result)</p>
        #end
    </div>
    #foreach($product in $products)
        #set($amount=0)
        #if($order && ${order.getOrderItem($product.id)}) #set($amount=${order.getOrderItem($product.id).amount}) #else #set($amount=0) #end
        <div class="unit" tag="$!product.number.toLowerCase() + $!product.name.toLowerCase()">
            #if($product.id>0)
                #insert_readwrite_image("/product/delete/${product.id}/producer/${product.producer.id}/" "delete" "/img/remove.png" "${messages.get('IMAGE_PRODUCT_DELETE')}")
            #end
            #if($product.producer.noOrdering==1)
                <a href="/product/labels/${product.id}/producer/${product.producer.id}/"><img class="shop" height="32px" width="32px" src="/img/checkmark_${amount}.png" title="${messages.get("PAGE_PRODUCTS_SHOP_PRODUCT_FOR_LABEL")}"></a>
            #end
            #if($product.id>1)
                #insert_readwrite_image("/product/${product.id}/producer/${product.producer.id}/" "edit" "/img/edit.png" "${messages.get('IMAGE_PRODUCT_EDIT')}")
            #end
            <div class="grouptop">
                <p class="small">${messages.get("TYPE_PRODUCT")} #$!product.number - $!product.producer.name </p>
                <p class="small">$!{product.title}&nbsp;</p>
                <p class="big">$!{product.name}</p>
                <p class="normal">$!{product.subtitle}&nbsp;</p>
                <p class="normal">#if($!{product.origin.id}!=1) ${messages.get("FORM_FIELD_ORIGIN")}: $!{product.origin.name} #end &nbsp;</p>
                <p class="normal">${messages.get("FORM_FIELD_QUANTITY")}: $!{product.quantity} - ${messages.get("FORM_FIELD_WEIGHT")}: $numberFormatter.convertToLocale($!{product.weight}) kg #if($!{product.container.id}!=1)- ${messages.get("FORM_FIELD_CONTAINER")}: $!{product.container.name}#end</p>
                <p class="normal">${messages.get("FORM_FIELD_PRICE")}: € $numberFormatter.convertToLocale($!{product.price})</p>
            </div>
            #if($product.producer.noOrdering==0)
                <div class="productamount">
                    <form method="get" action="/product/shop/${product.id}/producer/${product.producer.id}/">
                        #if(${amount}>0)
                            <input name="productamount" type="text" size="2" maxlength="2" value="${amount}">
                        #else
                            <input name="productamount" type="text" size="2" maxlength="2" value="">
                        #end
                    </form>
                </div>
            #end
        </div>
    #end
#end