#parse("/velocity/macros.vm")
#parse("/velocity/layout.vm")
#@mainLayout()
    <p class="heading">${messages.get("PAGETITLE_PRODUCTORIGIN_LIST")} ($origins.size())</p>
    <p><img id="helpimg" height="40px" width="40px" src="/img/help_black.png" title="${messages.get("IMAGE_HELP")}" onclick="switchHelp()"><a href="/productorigin/0/">
    <img class="add_external" height="40px" width="40px" src="/img/origin_add.png" title="${messages.get("IMAGE_PRODUCTORIGIN_ADD")}"></a></p>
    <div id="help">
        <p class="helptitle">${messages.get("PAGETITLE_PRODUCTORIGIN_LIST")}</p>
        <p>${messages.get("HELP1_PRODUCTORIGIN_LIST")}</p>
        <p><img height="22" width="22" src="/img/origin_add.png">&nbsp;${messages.get("IMAGE_PRODUCTORIGIN_ADD")}&nbsp;<img height="22" width="22" src="/img/edit.png">&nbsp;${messages.get("IMAGE_PRODUCTORIGIN_EDIT")}&nbsp;<img height="22" width="22" src="/img/remove.png">&nbsp;${messages.get("IMAGE_PRODUCTORIGIN_DELETE")}</p>
    </div>
    <div id="filter">
        <p>${messages.get("FILTER_TEXTBOX")}: <input id="search" searchtype="origins" type="text""></p>
    </div>
    #foreach($origin in $origins)
        <div class="unit" tag="$!origin.name.toLowerCase()">
            #insert_readwrite_image("/productorigin/delete/${origin.id}/" "delete" "/img/remove.png" "${messages.get('IMAGE_PRODUCTORIGIN_DELETE')}" "${tokenpayload.role}")
            #insert_readwrite_image("/productorigin/${origin.id}/" "edit" "/img/edit.png" "${messages.get('IMAGE_PRODUCTORIGIN_EDIT')}" "${tokenpayload.role}")
            <div class="grouptop">
                <p class="small">${messages.get("TYPE_PRODUCTORIGIN")}</p>
                <p class="big">$!origin.name</a></p>
            </div>
        </div>
    #end
#end