#parse("/velocity/macros.vm")
#parse("/velocity/layout.vm")
#@mainLayout()
    <p class="heading">${messages.get("PAGETITLE_SHOP_LIST")} (#if($productorderitems)$productorderitems.size() #else 0#end)</p>
    <div class="formbox">
        <form method="POST" action="/shopcomplete/producer/${producer.id}/">
        <table align="center" width="40%" border="0">
            <tr>
                <td>${messages.get("PRODUCT_ORDER_ORDER_DATE")}:&nbsp;<input id="datepicker" name="order_date" type="text" size="20" maxlength="8" value="$!{rulegroup.validFrom}">&nbsp; <input type="submit" value="${messages.get("IMAGE_COMPLETE_ORDER")}" name="submit"></td>
            </tr>
        </table>
        </form>
    </div>
    <div class="error">
         #if (${result})
            <p>#insert_message($result)</p>
         #end
     </div>
    #foreach($item in $productorderitems)
        <div class="unit" tag="$!item.product.number.toLowerCase() + $!item.product.name.toLowerCase()">
            #insert_readwrite_image("/product/shop/remove/${item.product.id}/producer/${producer.id}/" "delete" "/img/remove.png" "${messages.get('IMAGE_SHOP_PRODUCT_REMOVE')}")
            <div class="grouptop">
                <p class="small">${messages.get("TYPE_PRODUCT")} #$!item.product.number - $!item.product.producer.name </p>
                <p class="small">$!{item.product.title}&nbsp;</p>
                <p class="big">$!item.product.name</p>
                <p class="normal">$!{item.product.subtitle}&nbsp;</p>
                <p class="normal">#if($!{item.product.origin.id}!=1) ${messages.get("FORM_FIELD_ORIGIN")}: $!{item.product.origin.name}#end &nbsp;</p>
                <p class="normal">${messages.get("FORM_FIELD_QUANTITY")}: $!{item.product.quantity} - ${messages.get("FORM_FIELD_WEIGHT")}: $numberFormatter.convertToLocale($!{item.product.weight}) kg #if($!{item.product.container.id}!=1)- ${messages.get("FORM_FIELD_CONTAINER")}: $!{item.product.container.name}#end</p>
                <p class="normal">${messages.get("FORM_FIELD_PRICE")}: € $numberFormatter.convertToLocale($!{item.product.price})</p>
            </div>
            #if(!$shoplabelsonly)
            <div class="productamount">
                <form method="get" action="/product/shop/amount/${item.product.id}/producer/${item.product.producer.id}/">
                    <input name="productamount" type="text" size="2" maxlength="2" value="${item.amount}">
                </form>
            </div>
            #end
        </div>
    #end
    </br>
#end
