#parse("/velocity/macros.vm")
#parse("/velocity/layout.vm")
#@mainLayout()
    <p class="heading">${messages.get("PAGETITLE_USERS_LIST")} ($users.size())</p>
    <p><img id="helpimg" height="40px" width="40px" src="/img/help_black.png" title="${messages.get("IMAGE_HELP")}" onclick="switchHelp()"></p>
    <div id="help">
        <p class="helptitle">${messages.get("PAGETITLE_USERS_LIST")}</p>
        <p>${messages.get("HELP1_USERS_LIST")}</p>
        <p>${messages.get("HELP2_USERS_LIST")}</p>
        <p><img height="22" width="22" src="/img/order.png">&nbsp;${messages.get("IMAGE_ORDER_ITEMS")}</p>
    </div>
    <div id="filter">
        <p>${messages.get("FILTER_TEXTBOX")}: <input id="search" searchtype="users" type="text""></p>
    </div>
    #foreach($user in $users)
        <div class="unit" tag="$!user.fullName.toLowerCase()">
            #if($user.id>0)#insert_readwrite_image("/users/${user.id}/" "edit" "/img/edit.png" "${messages.get('IMAGE_USER_EDIT')}")#end
            <div class="grouptop">
                <p class="small">${messages.get("TYPE_USER")}</p>
                <p class="big">$!user.name</a></p>
                <p class="normal">$!user.fullName</p>
                <p class="normal">${messages.get("USER_TYPE_${user.type.toUpperCase()}")}</p>
             </div>
        </div>
    #end
#end

