
<div id='cssmenu'>
	#if(${databaseconnectionok}==true)
		<ul>
			<li><a href="process?action=bsh&scriptname=welcome">Startseite</a></li>
			#if(!$user)
				<li><a href="process?action=bsh&scriptname=login">Anmelden</a></li>
			#else
				#if(!${user.ldapUser})
					<li><a href="process?action=bsh&scriptname=selectupdatepassword">Passwort</a></li>
				#end
				<li><a href="process?action=bsh&scriptname=logout">Abmelden</a></li>
			#end
		</ul>
		#if($user)
		<ul>	
			<li><a href="process?action=bsh&ro=1&scriptname=listprojects">projects</a></li>
			<li><a href="process?action=bsh&ro=1&scriptname=listhistory">history</a></li>
			<li><a href="process?action=bsh&ro=1&scriptname=listactivity">activity</a></li>
			<li><a href="process?action=bsh&ro=1&scriptname=selectsearch">search</a></li>
		</ul>
		<ul>
			<li><a href="process?action=bsh&ro=1&scriptname=selectsendfile">export</a></li>
			<li><a href="process?action=bsh&ro=1&scriptname=selectimportfile">import</a></li>
		</ul>
		<ul>	
			<li><a href="process?action=bsh&ro=1&scriptname=listchecks">checks</a></li>
			<li><a href="process?action=bsh&ro=1&scriptname=listactions">actions</a></li>
		</ul>
		#end
		#if($user.isInGroup("Admin"))
		<ul>
			
			<li><a href="process?action=bsh&scriptname=listfiles">files</a></li>
			<li><a href="process?action=bsh&ro=1&scriptname=listgroups">groups</a></li>
			<li><a href="process?action=bsh&ro=1&scriptname=listusers">users</a></li>
			<li><a href="process?action=bsh&ro=1&scriptname=selectconfigure">configuration</a></li>
			<li><a href="process?action=bsh&ro=1&scriptname=selectconfiguredatabase">configure database</a></li>
		</ul>
		#end
		<ul>
			<li><a href="process?action=bsh&scriptname=about">Info</a></li>
		</ul>
	#else
		<ul>
			<li><a href="process?action=bsh&scriptname=welcome">Startseite</a></li>
			#if(!$user)
				<li><a href="process?action=bsh&scriptname=login">Anmelden</a></li>
			#else
				<li><a href="process?action=bsh&scriptname=logout">Abmelden</a></li>
			#end
		</ul>
		#if($user.isInGroup("Admin"))
		<ul>
			<li><a href="process?action=bsh&ro=1&scriptname=selectconfiguredatabase">configure database</a></li>
			<li><a href="process?action=bsh&ro=1&scriptname=selectconfigure">configuration</a></li>
		</ul>
		#end
		<ul>
			<li><a href="about">Info</a></li>
		</ul>
	#end
</div>

